NODE_ENV=development
API_PORT=3000
LOG_LEVEL=info
LOG_FILE_PATH=logs/app-{date}.log
DATABASE_URL=postgres://postgres:postgres@localhost:5432/elysia_demo
AUTH_ADMIN_TOKEN=admin-token
AUTH_EDITOR_TOKEN=editor-token
